name: Build APK

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 17

    - name: Download Gradle 8.4
      run: |
        wget https://services.gradle.org/distributions/gradle-8.4-bin.zip
        unzip gradle-8.4-bin.zip
        echo "$PWD/gradle-8.4/bin" >> $GITHUB_PATH

    - name: Build APK
      run: gradle assembleDebug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: apk
        path: app/build/outputs/apk/debug/app-debug.apk
