name: Build APK Pro

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v3
      
    - name: Build APK
      uses: gradle/gradle-build-action@v3
      with:
        arguments: assembleDebug
        
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: Netattack-APK
        path: app/build/outputs/apk/debug/*.apk
